body {
  font-family: 'Times New Roman', Times, serif;
  width: 700px;
  margin: 0 auto;
}

h1 {
  text-align: center;
  width: 300px;
  margin: 15px auto;
  border-bottom: 2px solid red;
}

p {
  font-size: 16px;
  margin: 5px 10px;
}

.warning {
  padding: 2px;
  margin: 5px 7px;
  border: 1px dashed black;
}

ul {
  border: 2px solid darkred;
  display: table;
  padding: 10px 20px;
  margin: 20px auto;
  list-style: none;
}

li {
  margin: 10px;
  text-align: center;
  font-weight: bold;
}